body{
    background-color: #c8fff8;
    color: mintcream;
}
.imagemcentralizada{
    text-align: center;
header {
border-bottom: darkcyan;
}
border-bottom:solid;
.imagem1{
    
}
.lista{
    text-align: start;
    width: 45%;
}
