
body{
    background-color: #f89ebcad;
    color: rgb(245, 255, 250);
    margin: 0px;
}
.imagemcentralizada{
    text-align: center;
header {
border-bottom: rgb(219, 248, 248);
}
padding: 20px;
font-size: 30px;
color: blanchedalmond;
.imagem1{
    
}
.lista{
    text-align: start;
    width: 45%;
}
